[user]
  name = Paweł Madejski
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ls = ls-files
  wc = whatchanged
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  last = log -n 1 HEAD
  wdiff = diff --word-diff
  unstage = reset HEAD --
  contributors = shortlog -s -n
	pf = push --force-with-lease
	prbs = pull --rebase --stat
	prbc = pull --rebase --continue
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	rbreapply = rebase --reapply-cherry-picks
	cpa = cherry-pick --abort
	cp  = cherry-pick
	cpc = cherry-pick --continue
	rmu = !rm -r $(git st -s | grep '??' | awk '{print $2}')
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	hs = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date=relative --date-order
	merge = !sh \"echo wtf?\"
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[diff "gpg"]
  textconv = gpg --quiet --no-tty --decrypt
[core]
	editor = nvim
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
[push]
	default = current
	autoSetupRemote = true
[pull]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	program = gpg

[rebase]
	autoStash = true
[credential]
	username = pawelma
